@media screen and(max-width:1200px){
   .nosotras-generales iframe{
    display: none;
   }
}
@media screen and (max-width:1147px){
    .trabajos{
        flex-direction: column;
    }
    .trabajos div p{
        padding:10px;
        text-align: justify;
        font-size: 40px;
    }
}
@media screen and (max-width:1100px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 230px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .libros{
        grid-row: span 2;
    }
}
@media screen and (max-width:1090px){
    .trabajos img{
        display: none;
    }

}

@media screen and (max-width:1060px){
    .elegirme{
        flex-direction: column;
    }
    .elegirme div{
        width:80%
    }
    .elegirme p{
        margin-top: 1px;
        text-align: center;
    }
    .elegirme div h2{
        padding:5px;
    }
    .elegirme img{
        display: none;
    }
}
@media screen and (max-width:1046px){
    
    
    main .elegirme div p{
        margin: 10px;
    }
    main .elegirme div{
        width: 100%;
    }
}

@media screen and (max-width:920px){
    .trabajos div p{
        padding:10px;
        color: black;
        font-family: "Italiana", sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size:20px;
    }
}
@media screen and (max-width:893px){
    h4{
        padding:5px ;
        font-weight: 200;
        font-size:25px;
    }
    main .servicios h2{
    padding:5px ;
    font-weight: 200;
    font-size:30px;
    }
    
   main .servicios .servicios-contenedor div img{
    width: 200px;
    height: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }

    main .servicios .servicios-contenedor div{
    width:203px ;
    height:270px ;
    }
     main .servicios .servicios-contenedor div h3{
    color:deeppink;
    font-size: 20px;
    margin: 10px 15px 20px 15px;
    font-family: "Marko One", serif;
    font-weight: 200;
    font-style: normal;
    }
}
@media screen and (max-width:890px){
    main .pag-servicios-1 p{
        font-size: 20px;
    }
}
@media screen and (max-width:887px){
    main .productos h3{
        font-weight: 350;
        font-size:40px;
    }
    main .productos h3 p{
        font-size: 23px;
    }
}
@media screen and (max-width:850px){
    main .pag-servicios-2 div{
        width:253px ; /*ancho*/
        height:300px ;
    }
    main .pag-servicios-2 div img{
        width: 250px;
        height: 150px;
    }
    main .pag-servicios-2 div h4{
        font-size: 20px;
    }
    main .pag-servicios-2 div p{
        font-size: 16px;
    }
}
@media screen and (max-width:800px){
    main .productos h3{
        font-size: 30px;
    }
}
@media screen and (max-width:775px){
    .nosotras-generales .pag-nosotras .pag-nosotras-1 p{
        font-size: 18px;
    }
}
@media screen and (max-width:700px){
    .hero h2{
        font-size:40px;
        padding: 10px;
        border: 5px solid white;
        
    }
    .hero a{
        padding: 10px;
    }
    .nosotras-generales .pag-nosotras{
        flex-wrap: wrap;
    }
    .nosotras-generales .pag-nosotras .nosotras-datos{
        padding-top: 30px;
        
        
    }
    .nosotras-generales .pag-nosotras .pag-nosotras-1 .nosotras{
        font-size: 30px;
    }
    .nosotras-generales .pag-nosotras .pag-nosotras-1{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:690px){
    .parrafo::first-letter{
        color: darksalmon;
    }
    main .pag-servicios-1 p{
        font-size: 15px;
    }
    main .pag-servicios-1 h3{
        border: 2px solid nth($colores, 2);
        font-weight: 200;
        font-size:30px;
    }
}

@media screen and (max-width:681){
    .hero{
        height: 300px;
    } 
}
@media screen and (max-width:670px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width:650px){
    header{
        flex-direction: column;
        position: static;
     }
     .elegirme p{
        text-align: start;
        margin-left:1px;
     }
}
@media screen and (max-width:630px){
    main .productos h3{
        font-size: 25px;
    }
    main .productos p{
        font-size: 18px;
        margin: 15px;
        margin-top: 15px;
        margin-left: 50px;
        margin-right: 50px;
    }

}
@media screen and (max-width:580px){
    .nosotras-generales .pag-nosotras .pag-nosotras-1 p{
        text-align: start;
       width:100%;
    }
}
@media screen and (max-width:550px){
    .elegirme p{
        margin-left: 0%;
        margin-right: 0%;
        font-size: 15px;
    }
}


@media screen and (max-width:534px){
    .hero h2{
        font-size:35px ;
        padding: 15px; 
    }
    .hero a{
        font-size: 18px;
    }
    .elegirme div h2{
        font-size: 40px;
        font-weight: 700;
    }
    .elegirme p{
        margin:0%
        
    }
}

@media screen and (max-width:500px){
    .hero h2{
        margin-left: 15px;
        margin-right: 15px;
        border: 3px solid white
    }
    .hero a{
        font-size: 18px;
    }
}
@media screen and (max-width:492px){
    .servicios .servicios-contenedor div{
        width:203px ; 
        height:270px ;
    }
    .servicios div img{
    width: 100px;
    height: 65px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    }

    .servicios .servicios-contenedor div{
    width:103px ;
    height:170px ;
    }
    h3{
    color:deeppink;
    font-size: 15px;
    margin: 10px 15px 20px 15px;
    font-family: "Marko One", serif;
    font-weight: 150;
    font-style: normal;
    }
   .servicios-contenedor a{
    background-color: black;
    color: white;
    padding:10px;
    font-size:10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    }
    
}
@media screen and(max-width:460px){
    main .pag-servicios-1 p{
        font-size: 12px;
    }
}
@media screen and (max-width:445px){
    main .productos h3{
        border: solid 2px nth($colores,2) ;
        font-size: 18px;
    }
    main .productos p{
        margin: 10px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width:420px){
    main .productos p{
        font-size: 15px;
        margin: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width:410px){
    .elegirme p{
        font-size: 8px;
    }
}
@media screen and (max-width:400px){
    .elegirme p{
        font-size: 15px;
    }
}

@media screen and (max-width:396px){
    h1{
        font-size:30px;
    }

}
